<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="../js/vue.js"></script>
</head>

<body>
  <div id="app">
    <!-- id不能重复，因此不能单选和多选的id都为空 -->
    <!-- 1.选择一个 -->
    <select name="abc" v-model="fruit">
      <option value="苹果">苹果</option>
      <option value="香蕉">香蕉</option>
      <option value="葡萄">葡萄</option>
      <option value="桃子">桃子</option>
    </select>
    <h2>您选择的水果是： {{fruit}}</h2>

    <!-- 2.选择多个 -->
    <select name="abc" v-model="fruits" multiple>
      <option value="苹果">苹果</option>
      <option value="香蕉">香蕉</option>
      <option value="葡萄">葡萄</option>
      <option value="桃子">桃子</option>
    </select>
    <h2>您选择的水果是： {{fruits}}</h2>

  </div>

  <script>
    const app = new Vue({
      el: '#app',
      data: {
        message: 'hello world!',
        fruit: '香蕉',
        fruits: []
      },
      methods: {},
      computed: {}
    });
  </script>
</body>

</html>